name: melon-ticket-checker

on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Check Melon Ticket
        uses: mooyoul/melon-ticket-actions@v1.1.0
        with:
          product-id: 212676
          schedule-id: 100001
          seat-id: 1_0
          discord-webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          email-to: 01038876277@mms.sktelecom.com
